@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}
.input-container {
  position: relative;
  width: 100%;
}

.input-field {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 60px;
  padding-left: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #67adee;
}

.inputs-icon {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  cursor: pointer;
  width: 35px;
  height: auto;
}

.input-field::placeholder{
  color: aliceblue;
}


.inputs-icon[src$="email.png"] {
    content: url('../assets/images/email.png');
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    cursor: pointer;
    width: 35px;
    height: auto;
  }
  
  .inputs-icon[src$="eye-icon.png"] {
    content: url('../assets/images/eye-icon.png');
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    cursor: pointer;
    width: 35px;
    height: auto;
  }
  
  .inputs-icon[src$="google.png"] {
    content: url('../assets/images/google.png');
    position: absolute;
    top: 10.167px;
    left: 125px;
    width: 36px;
    height: 22.5px;
  }
  
  .inputs-icon[src$="microsoft.png"] {
    content: url('../assets/images/microsoft.png');
    position: absolute;
    top: 11.167px;
    left: 125px;
    width: 36px;
    height: 22.5px;
  }
  