/* TopBar.css */

/* Top Bar */
.body{
  margin-left: 0px;
}
.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #67adee;
  }
  
  .logo {
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
  }
  
  .search-bar {
    padding: 8px 12px;
    border: none;
    border-radius: 20px;
    margin: 0 10px;
    width: 200px;
  }
  
  .user-info {
    display: flex;
    align-items: center;
  }
  
  .username {
    margin-right: 10px;
    color: #fff;
  }
  
  .user-image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }

  /* CSS for the sidebar */
  .sidebar {
    width: 250px;
    padding: 20px;
  }
  
  .sidebar ul {
    padding: 0;
    list-style-type: none;
  }
  
  .sidebar li {
    padding: 10px 0;
  }
  
  .sidebar a {
    color: black; /* Change link color to black */
    text-decoration: none;
  }
  
  .sidebar a:hover {
    color: #4ea8de;
  }
  

/* CSS for the search input and icon */
.input-container {
  position: relative;
}

.search-input {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 8px 36px 8px 12px; /* Adjust padding as needed */
  width: 400px; /* Adjust width as needed */
}

.search-icon {
  position: absolute;
  top: 50%;
  right: 10px; /* Adjust right spacing as needed */
  transform: translateY(-50%);
}
